main.general-wrapper {
  min-height: 100vh;
  width: 100vw;
  min-width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.7fr;
  gap: 24px 0px;

  @media screen and (max-width: 930px) {
    grid-template-rows: 0.4fr 1.7fr;
  }

  section.top_section {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 12px 12px 0 12px;
  }
  
  section.bottom_section {
    grid-area: 2 / 1 / 2 / 1;

    margin: 0px 12px 12px 12px;
  }
}